<%-include('../partials/header')-%>
<%-include('../partials/admin/nav')-%>



<div class="search-container">
    <input type="text" id="searchInput" placeholder="Zoek op naam, bedrijf, of telefoonnummer...">
</div>
<div id="userList" class="list-group"></div>
</div>

<script src="/js/admin/gebruikersLijst.js"></script>
<%-include('../partials/admin/navend')-%>
<%-include('../partials/footer')-%>