
  <%- include('partials/header') -%>


<!-- Hero Section with Background Image -->
<section id="home" class=" text-white text-center bg-light">
  <div class="container py-5">
    <p class="lead"  style="color: #000080">MAATWERK, LEVERTIJD, SERVICE</p>
    <h1 class="display-3 font-weight-bold">ALUPLEX</h1>
    <p class="lead" style="color: #000080">KENNIS & TECHNIEK</p>
  </div>
</section>

<!-- Services Section -->
<section id="overons" class="py-5">
  <div class="container">
    <!-- Services Cards  -->
    <div class="row">
      <div class="col-lg-4 mb-4">
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card-body text-center">
          <div class="card-title">
            <h1 class="text-center mb-5">Over ons</h1>

          </div>
          <hr class="my-4">
          <p class="card-text">ALUPLEX is fabrikant en groothandel van rolluiken, zonwering en vliegenramen voor
            installateurs, raamfabrikanten, zelfstandige handelaars en andere professionelen.

            ​</p>
          <p class="card-text">
            ALUPLEX is reeds meer dan 20 jaar actief in de branche en is uitgegroeid tot een familiaal bedrijf waar de
            2e generatie, die de kennis en de producten 'met de paplepel' ingegoten heeft gekregen, zichzelf én
            ALUPLEX heeft klaargestoomd voor de toekomst.

            ​</p>

          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card-body text-center">
          <img src="/img/home/vzr.jpg" alt="Voorzetrolluik" width="370" height="500">
        </div>
      </div>
    </div>
  </div>

</section>


<hr class="my-4">

<!-- Services Section -->
<section id="onzeproducten" class="py-5">
  <div class="container">
    <!-- Services Cards  -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="row">
          <div class="col-lg-6 mb-6">

            <div class="card-body">
              <img src="/img/productfolders/imgloungefino.png" class="img-fluid" alt="Voorzetrolluik"
                style="display:flex;">
            </div>
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card-body">
              <img src="/img/productfolders/imgloungepiano.png" class="img-fluid" alt="Voorzetrolluik"
                style="display:flex;">
            </div>
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card-body">
              <img src="/img/productfolders/imgloungecomo.png" class="img-fluid" alt="Voorzetrolluik"
                style="display:flex;">
            </div>
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card-body">
              <img src="/img/productfolders/imgloungescreen.png" class="img-fluid" alt="Voorzetrolluik"
                style="display:flex;">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card-body text-center align-items-center">

          <h1 class="mb-5">Onze producten</h1>
          <hr class="my-4">
          <p class="card-text">ALUPLEX heeft een ruim gamma aan producten.

            Voorzetrolluiken, inbouwrolluiken & opbouwrolluiken 'rollen' dagelijks de deur uit.
            </p>
            <p class="card-text">

            Vliegenramen, vliegendeuren, screens, verandazonwering & zonnetenten behoren ook tot het gamma.

            ​</p>
          <p class="card-text">
            Indien u een kijkje wenst te nemen in ons productoverzicht; klik op onderstaande knop om door te gaan
            naar onze productfolders.

            ​</p>

          <br>
          <a href="/productfolders" class="btn btn-primary">Meer Info</a>
        </div>

      </div>
      <div class="col-lg-4 mb-4">
        <div class="row">
          <div class="col-lg-6 mb-6">

            <div class="card-body">
              <img src="/img/productfolders/imgvoorzetrolluik.png" class="img-fluid" alt="Voorzetrolluik"
                style="display:flex;">
            </div>
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card-body">
              <img src="/img/productfolders/imginbouwrolluik.png" class="img-fluid" alt="Voorzetrolluik"
                style="display:flex;">
            </div>
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card-body">
              <img src="/img/productfolders/imgopbouwrolluik.png" class="img-fluid" alt="Voorzetrolluik"
                style="display:flex;">
            </div>
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card-body">
              <img src="/img/productfolders/imgloungescreensolar.png" class="img-fluid" alt="Voorzetrolluik"
                style="display:flex;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>


<hr class="my-4">

<section id="geschiedenis" class="py-5">
  <div class="container">
    <!-- Services Cards  -->

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="row text-center align-items-center">
          <div class="col-lg-12 mb-12">
            <div class="card-body">
              <div class="card-title">
                <h1 STYLE="visibility: hidden;"> Onze geschiedenis </h1>
              </div>
              <h2 class="text-center mb-5">1999 tot 2011</h2>
              <img src="/img/home/logo1999-2011.jpg" alt="Voorzetrolluik">
            </div>
          </div>

        </div>


      </div>
      <div class="col-lg-4 mb-4">

        <div class="row text-center align-items-center">
          <div class="col-lg-12 mb-12">
            <div class="card-body">
                <h1>Onze geschiedenis</h1>
                
              <hr >
              <h2 class="text-center mb-5">2012 tot 2020</h2>
              <img src="/img/home/logo2012-2020.jpg" alt="Voorzetrolluik">
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4 mb-4">

        <div class="row text-center align-items-center">
          <div class="col-lg-12 mb-12">
            <div class="card-body">
              <div class="card-title">

                <h1 STYLE="visibility: hidden;"> Onze geschiedenis </h1>
              </div>
              <h2 class="text-center mb-5">2020 tot heden</h2>
              <img src="/img/home/logo2020.png" alt="Voorzetrolluik">
            </div>
          </div>

        </div>
      </div>


    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <!-- Tijdlijn voor belangrijke gebeurtenissen -->
        <div class="col-lg-8">
          <div class="timeline">
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">1999</h1>
                <p style="color: #000080;">Christian Werbrouck neemt het zwaar verlieslatend bedrijf over.</p>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2000</h1>
                <p style="color: #000080;">Verhuis van ALUPLEX naar Molenveld te Aartselaar.</p>
                <p style="color: #000080;">Machines worden aangekocht en gemoderniseerd (2000 - 2004).</p>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2005</h1>
                <p style="color: #000080;">Verhuis van het snelgroeiende ALUPLEX naar I.Z. Oeyvaersbosch te Aartselaar
                  waar we over een nog grotere en modernere bedrijfshal beschikken.</p>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2011</h1>
                <p style="color: #000080;">Alexander Werbrouck, de zoon van Christian, treedt toe tot ALUPLEX. Opvolging
                  en toekomst is verzekerd.</p>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2012 - 2013</h1>
                <p style="color: #000080;">ALUPLEX moderniseert en digitaliseert haar machinepark nog verder. Een
                  volautomatische assemblagemachine en zaagmachine worden aangekocht.</p>
                <p style="color: #000080;">Christian stelt het nieuwe logo voor op de VIP-Days opendeurdagen.</p>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2014</h1>
                <p style="color: #000080;">ALUPLEX blijft groeien en zoekt meer opslagcapaciteit om hun voorraad verder
                  uit te bouwen. Een tweede magazijn wordt aangekocht te Waarloos.</p>
              </div>
            </div>

            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2020</h1>
                <p style="color: #000080;">Alexander stelt het nieuwe logo van ALUPLEX voor.</p>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2022</h1>
                <p style="color: #000080;">Begin 2022 volgt de verhuis van ALUPLEX naar de Kontichsesteenweg te
                  Aartselaar waar ze hun oppervlakte meer dan verdubbelen tot 2.000 m² en waar ze hun twee magazijnen
                  samenvoegen tot één centrale locatie.</p>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2023</h1>
                <p style="color: #000080;">Een tweede volautomatische assemblagemachine word aangekocht waardoor de productiecapaciteit nog vergroot.</p>
              </div>
            </div>
            <div class="card shadow mb-4">
              <div class="card-body text-center">
                <h1 class="mb-3">2024</h1>
                <p style="color: #000080;">Aluplex lanceert haar nieuwe calculator.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</section>


<hr class="my-4">


</body>


<!-- Call to Action for User Registration -->

<%- include('partials/footer') -%>