<header id="mijnHeader">
  <%- include('partials/header') -%>
</header>
<!-- Hero Section with Background Image -->
<section id="prijslijst" class="hero-section text-white text-center bg-light">
  <div class="container py-5">
    <h1 class="display-3 font-weight-bold">Prijslijsten</h1>
  </div>
</section>

<!-- Services Section -->
<section id="rolluiken"  class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="row">
          <div class="col-12">
            <br>
            <br>

          </div>
          <div class="col-lg-12">
            <br>
            <br>
            <h1 class="display-4 font-weight-bold mt-3"> Rolluiken</h1>
            <hr>
          </div>
          <div class="col-12">
            <br>
            <br>
            <br>

          </div>


          <div class="col-lg-12">
            <h2> Rolluikblad</h2>
          </div>

          <div class="col-lg-3 col-md-4 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> PVC 42</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\blad\01 - Blad PVC 42.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="\pdf\prijslijsten\blad\01 - Blad PVC 42.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> ALU 42</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\blad\02 - Blad ALU 42.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\blad\02 - Blad ALU 42.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> ULTRA 42</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\blad\03 - Blad ULTRA 42.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\blad\03 - Blad ULTRA 42.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> ULTRA 52</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\blad\04 - Blad ULTRA 52.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\blad\04 - Blad ULTRA 52.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> PVC 55</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\blad\05 - Blad PVC 55.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\blad\05 - Blad PVC 55.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> ALU 55</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\blad\06 - Blad ALU 55.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\blad\06 - Blad ALU 55.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>


          <div class="col-12">
            <br>
            <br>
            <br>

          </div>


          <div class="col-lg-12">
            <h2> Inbouwrolluiken</h2>
          </div>

          <div class="col-lg-4 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> PVC 55</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\inbouwrolluik\00 - inbouwrolluik PVC 55.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="\pdf\prijslijsten\inbouwrolluik\00 - inbouwrolluik PVC 55.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> PVC 55</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\inbouwrolluik\00 - inbouwrolluik ALU 55.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\inbouwrolluik\00 - inbouwrolluik ALU 55.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> ULTRA 52</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\inbouwrolluik\00 - inbouwrolluik ULTRA 52.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\inbouwrolluik\00 - inbouwrolluik ULTRA 52.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>
          <div class="col-12">
            <br>
            <br>
            <br>

          </div>
          <div class="col-lg-12">
            <h2> Voorzetrolluiken</h2>
          </div>

          <div class="col-lg-3 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> PVC 42</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\voorzetrolluik\00 - Voorzet PVC 42.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6">
                    <a href="\pdf\prijslijsten\voorzetrolluik\00 - Voorzet PVC 42.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> ALU 42</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\voorzetrolluik\00 - Voorzet ALU 42.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\voorzetrolluik\00 - Voorzet ALU 42.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> ULTRA 42</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\voorzetrolluik\00 - Voorzet ULTRA 42.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\voorzetrolluik\00 - Voorzet ULTRA 42.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> ULTRA 52</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">
                  <div class="col-6">
                    <a href="\excel\prijslijsten\voorzetrolluik\00 - Voorzet ULTRA 52.xls" target="_blank">
                      <img src="\img\excel icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                  <div class="col-6 align-items-center">
                    <a href="\pdf\prijslijsten\voorzetrolluik\00 - Voorzet ULTRA 52.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>

                </div>

              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>



<section id="screens"  class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="row">

          <div class="col-lg-12">
            <br>
            <br>
            <h1 class="display-4 font-weight-bold mb-5 mt-5"> Screens</h1>
            <hr>
          </div>
          <div class="col-12">
            <br>
            <br>
            <br>

          </div>


          <div class="col-lg-12">
            <h2> Lounge 89</h2>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Motor met schakelaar</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\screens\01 - LOUNGE 89 - Motor + schakelaar.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Somfy IO</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\screens\02 - LOUNGE 89 - Somfy IO.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <br>
            <br>
            <br>
            <h2> Lounge 103</h2>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Motor met schakelaar</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\screens\03 - LOUNGE 103 - Motor + schakelaar.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Somfy IO</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\screens\04 - LOUNGE 103 - Somfy IO.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-12">
            <br>
            <br>
            <br>
            <h2> Lounge 131</h2>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Motor met schakelaar</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\screens\05 - LOUNGE 131 - Motor + schakelaar.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Somfy IO</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\screens\06 - LOUNGE 131 - Somfy IO.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>

          <div class="col-lg-12">
            <br>
            <br>
            <br>
            <h2> Lounge 150 Solar</h2>
          </div>

          <div class="col-lg-12 col-md-12 col-sm12">
            <div class="card">
              <div class="card-title">
                <h3>Somfy IO Solar</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\screens\07 - LOUNGE 150 - SOLAR.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</section>

<section id="zonnetenten"  class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="row">

          <div class="col-lg-12">
            <br>
            <br>
            <h1 class="display-4 font-weight-bold mt-5"> Zonnetenten</h1>
            <hr>
          </div>
          <div class="col-12">
            <br>
            <br>
            <br>

          </div>




          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Lounge Fino & Cento</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\zonnetenten\01 - LOUNGE FINO & CENTO.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Lounge Fino & Cento - Vario Volant</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\zonnetenten\02 - LOUNGE FINO & CENTO Vario Volant.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Lounge Como</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\zonnetenten\03 - LOUNGE COMO.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3> Somfy IO</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\zonnetenten\04 - LOUNGE COMO Vario Volant.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3>Lounge Piano</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\zonnetenten\05 - LOUNGE PIANO.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm6">
            <div class="card">
              <div class="card-title">
                <h3>Lounge Piano Vario Volant</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\zonnetenten\06 - LOUNGE PIANO Vario Volant.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>


          <div class="col-lg-12 col-md-12 col-sm12">
            <div class="card">
              <div class="card-title">
                <h3>Lounge Casa Sunrain</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\zonnetenten\07 - LOUNGE CASA SUNRAIN.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

  </div>

</section>

<section id="verandazonwering"  class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="row">

          <div class="col-lg-12">
            <br>
            <br>
            <h1 class="display-4 font-weight-bold mt-5"> Verandazonwering</h1>
            <hr>
          </div>
          <div class="col-12">
            <br>
            <br>
            <br>

          </div>






          <div class="col-lg-12 col-md-12 col-sm12">
            <div class="card">
              <div class="card-title">
                <h3>WGB 350</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\verandazonwering\01 - LOUNGE WGB 350.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm12">
            <div class="card">
              <div class="card-title">
                <h3>WGB 350 SZ</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\verandazonwering\02 - LOUNGE WGB 350 SZ.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm12">
            <div class="card">
              <div class="card-title">
                <h3>WGB 350 SZ Pergola</h3>
                <hr>
              </div>
              <div class="card-body text-center align-items-center">

                <div class="row">

                  <div class="col-12">
                    <a href="\pdf\prijslijsten\verandazonwering\03 - LOUNGE WGB 350 SZ PERGOLA.pdf" target="_blank">
                      <img src="\img\pdf icon.png" class="img-fluid" style="max-width: 50px; max-height: 50px"
                        alt="Omschrijving van de afbeelding">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>





        </div>






      </div>



    </div>
  </div>

</section>



<style>
  .vl {
    border-left: 1px solid #000080;
    height: 80%;
  }
</style>
<%- include('partials/footer') -%>