<header id="mijnHeader">
  <%- include('partials/header') -%>
</header>
<!-- Hero Section with Background Image -->
<section class="hero-section text-white text-center bg-light">
  <div class="container py-5">
    <h1 class="display-3 font-weight-bold">Product folders</h1>
  </div>
</section>

<!-- Services Section -->
<section id="productfolders" class="py-5">
  <div class="container">
    <div class = "row">
        <div class="col-lg-2">
        </div>
            <div class="col-lg-8">
    <!-- Services Cards  -->
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\VOORZETROLLUIK.pdf" target="_blank">
            <img src="img\productfolders\imgvoorzetrolluik.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\INBOUWROLLUIK.pdf" target="_blank">
            <img src="img\productfolders\imginbouwrolluik.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\OPBOUWROLLUIK.pdf" target="_blank">
            <img src="img\productfolders\imgopbouwrolluik.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\LOUNGE SCREEN.pdf" target="_blank">
            <img src="img\productfolders\imgloungescreen.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\LOUNGE SCREEN 150 (Solar).pdf" target="_blank">
            <img src="img\productfolders\imgloungescreensolar.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\LOUNGE FINO.pdf" target="_blank">
            <img src="img\productfolders\imgloungefino.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\LOUNGE COMO.pdf" target="_blank">
            <img src="img\productfolders\imgloungecomo.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\LOUNGE PIANO.pdf" target="_blank">
            <img src="img\productfolders\imgloungepiano.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6  ">
        <p style="visibility: hidden;">test</p>
        <a href="\pdf\productfolders\WGB 150.pdf" target="_blank">
            <img src="img\productfolders\imgwgb150.png" class="img-fluid" alt="Omschrijving van de afbeelding">
        </a>
      </div>
    </div>
    </div>
    <div class="col-lg-2">
    </div>

  </div>


</section>



<%- include('partials/footer') -%>