<%-include('partials/header')-%>
<div class="container">
  <h1 class="text-center">Rolluiken</h1>
  <p>Bij ALUPLEX Production NV bieden wij een groot assortiment aan rolluiken. Of u nu op zoek bent naar een rolluik voor uw woning of bedrijf, wij hebben voor ieder wat wils.</p>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/300x200.png?text=Rolluikblad" class="card-img-top" alt="Rolluikblad">
        <div class="card-body">
          <h5 class="card-title">Rolluikblad</h5>
          <p class="card-text">Onze rolluikbladen zijn gemaakt van hoogwaardige materialen en zijn beschikbaar in verschillende maten en kleuren.</p>
          <a href="/rolluikblad" class="btn btn-primary">Meer informatie</a>
		  </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/300x200.png?text=Inbouwrolluik" class="card-img-top" alt="Inbouwrolluik">
        <div class="card-body">
          <h5 class="card-title">Inbouwrolluik</h5>
          <p class="card-text">Onze inbouwrolluiken zijn perfect voor het integreren in uw bestaande raamwerk en beschikbaar in verschillende maten en kleuren.</p>
          <a href="#" class="btn btn-primary">Meer informatie</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/300x200.png?text=Voorzetrolluik" class="card-img-top" alt="Voorzetrolluik">
        <div class="card-body">
          <h5 class="card-title">Voorzetrolluik</h5>
          <p class="card-text">Onze voorzetrolluiken zijn eenvoudig te installeren en beschikbaar in verschillende maten en kleuren.</p>
          <a href="#" class="btn btn-primary">Meer informatie</a>
</div>
</div>
</div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/300x200.png?text=Opbouwrolluik" class="card-img-top" alt="Opbouwrolluik">
        <div class="card-body">
          <h5 class="card-title">Opbouwrolluik</h5>
          <p class="card-text">Onze opbouwrolluiken zijn ideaal voor nieuwbouwprojecten en beschikbaar in verschillende maten en kleuren.</p>
          <a href="#" class="btn btn-primary">Meer informatie</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('partials/footer')-%>