<%- include('partials/header') -%>


<!-- Hero Section with Background Image -->
<section id="home" class=" text-white text-center bg-light">
    <div class="container py-5">
        <h1 class="display-3 font-weight-bold">verkoopsvoorwaarden</h1>
    </div>
</section>

<!-- Services Section -->
<section id="verkoopsvoorwaarden" class="py-5">
    <div class="container">
        <!-- Services Cards  -->
        <div class="row">
            <div class="col-lg-3 mb-4">
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card-body text-center">
                    <div class="card-title">

                    </div>
                    <hr class="my-4">
                    <style>
                        .verkoopsvoorwaarden {
                            text-align: left;
                            margin: 5px !important;
                            padding: 10px !important;
                            font-size: 12px !important;
                            list-style-type: circle !important;
                            position: relative;
                        }

                        .verkoopsvoorwaarden::before {
                            content: "\2022";
                            /* Unicode voor een bolletje */
                            display: inline-block;
                            
                            width: 1em;
                            /* Ruimte tussen het bolletje en de tekst */
                            margin-right: 0.5em;
                            position: absolute;
  left: -1em; /* Plaats het bolletje 1em naar links vanaf de rand van de paragraaf */

                            /* Ruimte aan de rechterkant van het bolletje */
                        }
                    </style>
                    <p class="card-text verkoopsvoorwaarden">Onderhavige algemene voorwaarden zijn van toepassing op de
                        relatie tussen ALUPLEX Production nv en de klant. Door het plaatsen van een bestelling,
                        aanvaardt de klant de toepasselijkheid van onderhavige algemene voorwaarden.

                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        Een verkoop komt slechts tot stand na de schriftelijke bevestiging door ALUPLEX Production nv.
                        Een begin van uitvoering geldt als bevestiging, tenzij dit onder voorbehoud is gebeurd.

                        ​</p>

                    <p class="card-text verkoopsvoorwaarden">
                        Elke annulering van een bestelling dient schriftelijk te gebeuren. Ze is slechts geldig mits een
                        schriftelijke aanvaarding door ALUPLEX Production nv. In geval van annulering is door de koper
                        er een forfaitaire vergoeding verschuldigd van 50 % van de prijs van de bestelling.
                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        De leveringstermijnen worden enkel bij wijze van inlichting verstrekt en zijn derhalve niet
                        bindend, tenzij dit uitdrukkelijk werd overeengekomen. Vertraging in uitvoering van de
                        bestelling kan nooit aanleiding zijn tot schadevergoeding of ontbinding van de overeenkomst.
                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        Vervoer (en eventuele verzekeringskosten) zijn altijd voor rekening van de koper, tenzij
                        uitdrukkelijk anders werd overeengekomen
                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        De koper hoort de goederen onmiddellijk in ontvangst te nemen en na te kijken. Klachten zijn
                        enkel geldig, als ze per aangetekend schrijven gebeuren. Klachten die niet binnen de 8 dagen na
                        levering zijn geformuleerd, worden niet meer aanvaard.
                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        EVerborgen gebreken moeten binnen de drie maanden na de vaststelling ervan per aangetekend
                        schrijven worden vermeld. De goederen mogen echter niet zijn verwerkt of behandeld.
                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        De geleverde goederen blijven eigendom van ALUPLEX Production nv tot bij de volledig betaling
                        van de verkoopprijs, vermeerderd met de kosten en intresten.
                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        Het risico gaat over op het moment dat de goederen geleverd zijn.
                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        De koper zal ALUPLEX Production nv verwittigen, als de goederen worden opgeslagen in een ruimte
                        die hij huurt. Hij zal ALUPLEX Production nv op de hoogte moeten brengen van de identiteit van
                        het adres van de eigenaar van het pand.
                        ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        De facturen zijn contant betaalbaar, behoudens andersluidend schriftelijke bepalingen. ​</p>
                    <p class="card-text verkoopsvoorwaarden">
                        Bij niet-betaling op de vervaldag van een factuur wordt ze van rechtswege en zonder dat er een
                        ingebrekestelling is vereist, verhoogd met een forfaitair schadebeding van 10% met een minimum
                        van 50 EUR. Daarnaast wordt bij laattijdige betaling op het voormelde factuurbedrag een
                        vergoedende intrest van 10% aangerekend vanaf factuurdatum. <p
                            class="card-text verkoopsvoorwaarden">
                            De koper zal ALUPLEX Production nv verwittigen, als de goederen worden opgeslagen in een
                            ruimte die hij huurt. Hij zal ALUPLEX Production nv op de hoogte moeten brengen van de
                            identiteit van het adres van de eigenaar van het pand.
                            ​</p>
                        <p class="card-text verkoopsvoorwaarden">
                            Bij gebreke aan tijdige betaling van een factuur of bij niet naleving van de algemene
                            voorwaarden vervallen alle openstaande facturen van rechtswege. ALUPLEX Production nv
                            beschikt eveneens over het recht om verdere levering (occasioneel of in het kader van
                            periodieke leveringen), prestaties of diensten te schorsen en dit zonder enige
                            schadevergoeding ten nadele van ALUPLEX Production nv. ​</p>
                        <p class="card-text verkoopsvoorwaarden">
                            In geval van betwisting zijn enkel de rechtbank van 1ste aanleg of koophandel te Antwerpen
                            en het Vredegerecht van het kanton Boom bevoegd. Het Belgisch recht is altijd van
                            toepassing. ​</p>
                        <p class="card-text verkoopsvoorwaarden">
                            De geleverde rolluiken / zonwering genieten een waarborg van 2 jaar vanaf factuurdatum.

                            De waarborg beperkt zich tot kosteloze herstelling of vervanging van het defecte onderdeel.

                            Elke andere kost zoals werkuren voor montage en demontage, verplaatsingskosten, het gebruik
                            van ladderliften, enz. ... wordt niet vergoed. ​</p>
                        <p class="card-text verkoopsvoorwaarden">
                            ALUPLEX Production nv is niet aansprakelijk voor enige schade die zou veroorzaakt worden
                            door de geleverde goederen, hun gebruik of hun inhoud, noch voor schade veroorzaakt door,
                            naar aanleiding van of tijdens de levering, zelfs indien zij te wijten is aan een zware fout
                            of nalatigheid in hoofde van ALUPLEX Production nv of haar aangestelden. ​</p>
                        <p class="card-text verkoopsvoorwaarden">
                            De waarborg geldt niet in volgende gevallen :

                            - bij nalatigheid, slecht onderhoud, foutief gebruik en of foutieve montage;

                            - bij verkeerde aansluitingen of kortsluiting op de elektrische en elektronische onderdelen;

                            - indien de plaatsing en of aansluiting werd uitgevoerd door niet-professionelen (bv.
                            particulieren);

                            - bij het niet naleven van de wettelijke montage- en aansluitingsvoorschriften;

                            - bij het gebruik en toepassingen waarvoor de producten ontworpen zijn;

                            - bij gebruik van onderdelen die niet conform zijn, noch erkend worden door de verkoper;

                            - voor producten geplaatst in een zone van 10 km van de kustlijn, gelet corrosie door het
                            hoog

                            zoutgehalte;

                            - bij het niet eerbiedigen / naleven van de algemene voorwaarden;

                            - zolang de geleverde goederen niet betaald zijn.
                        </p>
                        <p class="card-text verkoopsvoorwaarden">
                            De koper is verantwoordelijk voor het naleven van alle wettelijke voorschriften en
                            bepalingen die van kracht zijn voor, tijdens en na de plaatsing van de geleverde goederen,
                            rolluiken en zonwering.

                            (bv. Bouwvergunning, bijkomende veiligheden zoals afrolbeveiliging, onderlatbeveiliging,
                            e.d.m.) </p>

                </div>
            </div>

        </div>
    </div>

</section>

<!-- Call to Action for User Registration -->

<%- include('partials/footer') -%>