<%- include('../../partials/header') -%>

<%-include('../../partials/account/nav')-%>
<!-- weergeven van gebruikers data.-->
<Title>Profiel pagina</Title>
<div class="card">
    <div class="card-header">
        <h1>Profielpagina</h1>
    </div>
    <div class="card-body mx-auto">

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3> Gebruiker</h3>

                        </div>
                        <div class="card-body">
                            <div id="gebruikerbody">

                                <p> some text</p>
                                <p> some text</p>
                                <p> some text</p>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3> Facturatiegegevens</h3>
                        </div>
                        <div class="card-body">
                            <div id="bedrijfbody">

                                <p> some text</p>
                                <p> some text</p>
                                <p> some text</p>

                            </div>

                        </div>

                    </div>

                </div>
            


            </div>
        </div>
        <div>
            <buttons id="btnEdit" class="btn btn-primary">Opslaan</buttons>
        </div>




    </div>



    <script src="/js/user/account/profiel.js"></script>
    <%-include('../../partials/account/navend')-%>
    <%- include('../../partials/footer') -%>