<div class="row">
    <div class="col-sm-3 "style="margin: 0px; padding: 0px;">
        <div class="container sticky-top" style="margin: 0px; padding: 0px;" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto flex-column" style="margin: 5px; padding: 5px;">
                            <li class="nav-item active">
                                <label><h3>Admin panel</h3></label>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/admin">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/gebruikersLijst">gebruikersLijst</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/toActivateList">toActivateList</a>
                            </li>
                            <!-- Voeg meer navigatie-items toe indien nodig -->
                        </ul>
                      
                    </div>
            </nav>
        </div>
    </div>
    <div class="col-sm-9 align-left">

        <!--
    +2x /div
-->

